.card {
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    width: 300px;
    height: 150px;
    padding: 15px;
    border-radius: 16px;
    background: rgb(255,255,255);
    background: linear-gradient(126deg, rgba(255,255,255,1) 0%, rgba(211,255,0,1) 36%, rgba(183,170,17,1) 81%);
}

.card-block {
    display: flex;
    justify-content: space-between;
}

.card-button {
    padding: 3px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: rgb(203, 103, 203);
    transition: all .3s;
}
.card-button:hover {
    scale: 1.1;
    rotate: -10deg;
}
.card-button:active {
    scale: 0.9;
    rotate: -20deg;
}