.header {
    display: flex;
    width: 100%;
    padding: 10px;
    background-color: rgb(203, 103, 203);
    color: rgba(211,255,0,1);
    text-shadow: 1;
    font-weight: bold;
    font-size: 36px;
    justify-content: center;
}

.sign-wrap-1 {
    /* background: #337AB7; */
    text-align: center;
    padding: 10px 20px;
}
.sign-wrap-1 .sign_word {
    font-size: 40px;
    font-weight: bold;
    line-height: 50px;
    color: rgba(211,255,0,1);
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    animation: neon-1 .1s ease-in-out infinite alternate;
}
@keyframes neon-1 {
    from {
        text-shadow: 0 0 6px rgba(211,255,0,1), 0 0 30px rgba(202, 228, 225, 0.34), 0 0 12px rgba(191, 226, 255, 0.52), 0 0 21px rgba(191, 226, 255, 0.92), 0 0 34px rgba(191, 226, 255, 0.78), 0 0 54px rgba(191, 226, 255, 0.92);
    }
    to {
        text-shadow: 0 0 6px rgba(211,255,0,1), 0 0 30px rgba(202, 228, 225, 0.42), 0 0 12px rgba(191, 226, 255, 0.58), 0 0 22px rgba(191, 226, 255, 0.84), 0 0 38px rgba(191, 226, 255, 0.88), 0 0 60px #FFF;
    }
}