.header {
    display: flex;
    width: 100%;
    padding: 10px;
    background-color: rgb(203, 103, 203);
    color: rgba(211,255,0,1);
    font-weight: bold;
    font-size: 36px;
    justify-content: center;
}