.filter-block {
    display: flex;
    padding: 10px;
    width: 80%;
    background-color: rgb(203, 103, 203);
    border-radius: 12px;
    gap: 12px;
    justify-content: center;
    align-items: baseline;
}

.input {
    padding: 10px 15px;
    border-radius: 12px;
    background-color: white;
    border: none;
}

@media (max-width: 415px) {
    .filter-block {
        width: 95%;
    }
    .input {
        width: 140px;
    }
}